body{
    background-image: url("assets/bg.gif");
    background-repeat: repeat;
    color: purple;
}
table {
    width: 80vw;
    margin-left: 10%;
    text-align: center;
}
.main {
    background-color: white;


    height: 60vh;
}
.header {
    height: 30vh;
}

.thanks {
    color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: black;
}

#takePicButton {
    text-align: center;
    margin-right: 50%;
    margin-left: 50%;
    align-items: center;
}